@model PagedList.IPagedList<LibraryModels.Access>

@using PagedList.Mvc;
@using LibraryModels;

@{
    ViewBag.Title = "Права доступа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/PagedList.css">
<link href="~/Content/GetStyle.css" rel="stylesheet" />

<h2>Авторизованные пользователи</h2>

<div>

    <p class="addemp">@Html.ActionLink("+ Добавить пользователя", "Create", "Access")</p>

    <table>

        <tr class="nametab">
            <th><p>Login</p></th>
            <th><p>Уровень доступа</p></th>
            <th><p></p></th>
        </tr>
        @foreach (Access b in Model)
        {
            <tr>
                <td><p>@b.Login</p></td>
                @if (b.AllowedEdit)
                {
                    <td><p>Чтение и запись</p></td>
                }
                else
                {
                    <td><p>Чтение</p></td>
                }
                <td><p><a class="edrem" href="/Access/Delete/@b.AccessId">Удалить</a></p></td>
            </tr>
        }
    </table>
    <br />

</div>
<br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

