@using DBModels
@using PagedList
@using PagedList.Mvc
@model IPagedList<DBModels.User>

@{
    ViewBag.Title = "Права доступа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/PagedList.css">
<link rel="stylesheet" href="~/Content/GetStyle.css" />
<h2>Авторизованные пользователи</h2>
<div>
    <p class="addemp">@Html.ActionLink("+ Добавить пользователя", "Create", "Access")</p>
    <table>
        <tr class="nametab">
            <th><p>Login</p></th>
            <th><p>Уровень доступа</p></th>
            <th></th>
        </tr>
        @foreach (User user in Model)
        {
            <tr>
                <td><p>@user.DomainLogin</p></td>
                <td><p>@(user.CanEdit ? "Чтение и запись" : "Чтение")</p></td>
                @using (Html.BeginForm("Delete", "Access", FormMethod.Post))
                {
                    <td>
                        <input type="hidden" value="@Model.PageNumber" name="pageDelete" />
                        <input type="hidden" value="@user.Id" name="id" />
                        <input class="btn btn-primary" type="submit" value="Удалить" />
                    </td>
                }
            </tr>
        }
    </table>
</div>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

