@using CalendarWebsite.Models;

@helper Calendar(Calendar calendar)
{
    string holiday = String.Empty;
    int i = 0;
    DateTime start = new DateTime(calendar.CurrentDate.Year, calendar.CurrentDate.Month, 1);

    while (start.DayOfWeek != DayOfWeek.Monday)
    {
        start = start.AddDays(-1);
    }

    <table id="calendar">
        <thead>
            <tr class="week">
                <td>ПН</td>
                <td>ВТ</td>
                <td>СР</td>
                <td>ЧТ</td>
                <td>ПТ</td>
                <td>СБ</td>
                <td>ВС</td>
            </tr>
        </thead>
        @{
            while (true)
            {
                <tr>
                    @while (start.DayOfWeek != DayOfWeek.Sunday)
                    {
                        if (calendar.Holidays.Contains(start.Day))
                        {
                            holiday = "hol";
                        }
                        else
                        {
                            holiday = "bud";
                        }

                        <td class="@holiday">
                            @if (start.Month == calendar.CurrentDate.Month)
                            {
                                <div class="day">
                                    <a class="dis" href="" onclick="funcEdit('day[@i]'); return false;">
                                        @start.Day
                                    </a>
                                </div>
                                if (calendar.Duties.ContainsKey(start))
                                {
                                    <div class="fam mx-auto">
                                        @for (int j = 0; j < calendar.Duties[start].Length; j++)
                                        {

                                            <p>@calendar.Duties[start][j].FullName</p>

                                        }
                                    </div>
                                    if (calendar.Vacation != null)
                                    {
                                        if (calendar.Vacation.Duties.ContainsKey(start))
                                        {
                                            var empsVacation = calendar.Vacation.Duties[start];
                                            var empsDuty = calendar.Duties[start];

                                            for (int n = 0; n < empsDuty.Length; n++)
                                            {
                                                for (int j = 0; j < empsVacation.Length; j++)
                                                {
                                                    if (empsDuty[n].Id == empsVacation[j].Id)
                                                    {
                                                        <p class="vacation">У сотрудника - @empsDuty[n].FullName назначен отпуск</p>
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                <form method="post" action="/Home/Edit">
                                    <div class="hidden row" id="day[@i]">
                                        <div class="col-md-12">
                                            <input type="hidden" value="@start" name="dateEdit" />
                                            <select multiple="multiple" class="selected mx-auto" size="3" name="selectedEmpId">
                                                @foreach (var e in calendar.Emps.OrderBy(x => x.Text))
                                                {
                                                    <option value="@e.Value">@e.Text</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input class="but" type="submit" value="Сохранить
                                               изменения" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <div class="last">@start.Day</div>
                            }
                        </td>
                        i++;
                        start = start.AddDays(1);
                    }

                    @if (calendar.Holidays.Contains(start.Day))
                    {
                        holiday = "hol";
                    }
                    else
                    {
                        holiday = "bud";
                    }

                    <td class="@holiday">

                        @if (start.Month == calendar.CurrentDate.Month)
                        {
                            <div class="day">
                                <a class="dis" href="" onclick="funcEdit('day[@i]'); return false;">
                                    @start.Day
                                </a>
                            </div>
                            if (calendar.Duties.ContainsKey(start))
                            {
                                <div class="fam">
                                    @for (int j = 0; j < calendar.Duties[start].Length; j++)
                                    {
                                        <p>@calendar.Duties[start][j].FullName</p>
                                    }
                                </div>
                                if (calendar.Vacation != null)
                                {
                                    if (calendar.Vacation.Duties.ContainsKey(start))
                                    {
                                        var empsVacation = calendar.Vacation.Duties[start];
                                        var empsDuty = calendar.Duties[start];

                                        for (int n = 0; n < empsDuty.Length; n++)
                                        {
                                            for (int j = 0; j < empsVacation.Length; j++)
                                            {
                                                if (empsDuty[n] == empsVacation[j])
                                                {
                                                    <p class="vacation">У сотрудника - @empsDuty[n].FullName назначен отпуск</p>
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            <form method="post" action="/Home/Edit">
                                <div class="hidden row" id="day[@i]">
                                    <div class="col-md-12">
                                        <input type="hidden" value="@start" name="dateEdit" />
                                        <select multiple="multiple" class="selected" size="3" name="selectedEmpId">
                                            @foreach (var e in calendar.Emps)
                                            {
                                                <option value="@e.Value">@e.Text</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input class="but" type="submit" value="Сохранить
                                               изменения" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="last">@start.Day</div>
                        }
                    </td>
                </tr>
                i++;
                start = start.AddDays(1);

                if (calendar.CurrentDate.Month != start.Month)
                {
                    break;
                }
            }
        }
    </table>
}