<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
   
</head>

<body>
    <div class="tm-blue-bg tm-left-column">
        <div class="tm-logo-div text-xs-center">
            <img src="~/Content/suek.png" class="att">
           
        </div>
        <nav class="tm-main-nav">
            <ul class="tm-main-nav-ul">
                <li class="tm-nav-item">
                    @*<a href="#welcome" class="tm-nav-item-link">Welcome</a>*@
                    @Html.ActionLink("Дежурство", "Index", "Home")
                </li>
                <li class="tm-nav-item">
                    @*<a href="#about" class="tm-nav-item-link">About Us</a>*@
                    @Html.ActionLink("Сотрудники", "Index", "Home")
                </li>
                <li class="tm-nav-item">
                    @*<a href="#galleryone" class="tm-nav-item-link">Gallery One</a>*@
                    @Html.ActionLink("Аварии", "Index", "Home")
                </li>
                <li class="tm-nav-item">
                    @*<a href="#secondgallery" class="tm-nav-item-link">Second Gallery</a>*@
                    @Html.ActionLink("Права доступа", "Index", "Home")
                </li>
                
            </ul>
        </nav>
    </div> <!-- Left column: logo and menu -->
    
    @RenderBody()
</body>
</html>>
