@using DutyOfServiceDepart.Models;
@model Calendar

@{
    ViewBag.Title = "Отпуска";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/StyleIndex.css">
@*<link href="~/Content/StyleSheet1.css" rel="stylesheet" />*@
<script src="~/Scripts/script.js"></script>
<link href="~/Content/StyleSheet2.css" rel="stylesheet" />
<div>
    <h2 class="a">График отпусков</h2>


    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <p>@Html.ActionLink("<<", "Index", new { start = Model.CurrentDate.AddMonths(-1) })</p>
            <p id="month">@Model.CurrentDate.ToString("MMMMMMMM") - @Model.CurrentDate.Year</p>
            <p>@Html.ActionLink(">>", "Index", new { start = Model.CurrentDate.AddMonths(1) })</p>
        </div>
    </div>
    <div class="row">
        @using (Html.BeginForm("CreateVacation", "Vacation", FormMethod.Post))
        {

        <div class="col-md-6">
            <p>Имя сотрудника:</p>
            <select class="selected" size="3" name="selectedEmpId">
                @foreach (var e in Model.Emps)
                {
                    <option value="@e.Value">@e.Text</option>
                }
            </select>
            <p>Выберите дату: </p>
            @Html.DropDownList("EmployeId", ViewBag.Books as SelectList)
            <input type="month" name="Date" required />
            <input class="but" id="but1" type="submit" value="Скачать отчёт" />
        </div>

           
        

           
         
        }
        </div>
        @Helpers.Calendar(Model)

    
</div>

