@using DutyOfServiceDepart.Models;
@model Calendar

@{
    ViewBag.Title = "Дежурства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/StyleIndex.css">

<div>
    <h2 class="a">График дежурств</h2>

    <div class="tm-right-column">
        <div class="cal">
            <div style="width:100%; height:1px; clear:both;"></div>
            <div class="list">@Html.ActionLink("<<", "Index", new { Start = Model.CurrentDate.AddMonths(-1) })</div>
            <div class="list">@Model.CurrentDate.ToString("MMMMM")</div>
            <div class="list">@Html.ActionLink(">>", "Index", new { Start = Model.CurrentDate.AddMonths(1) })</div>
            <div style="width:100%; height:1px; clear:both;"></div>
        </div>
        <table id="calendar" border="1" align="center">
            <thead>
                <tr class="week">
                    <td>ПН</td>
                    <td>ВТ</td>
                    <td>СР</td>
                    <td>ЧТ</td>
                    <td>ПТ</td>
                    <td>СБ</td>
                    <td>ВС</td>
                </tr>
            </thead>

            @{ 
                //DutyContext db = new DutyContext();
                int i = 0;
                DateTime Start = new DateTime(Model.CurrentDate.Year, Model.CurrentDate.Month, 1);
                while (Start.DayOfWeek != DayOfWeek.Monday)
                {
                    Start = Start.AddDays(-1);
                }
                while (true)
                {
                    <tr>
                        @while (Start.DayOfWeek != DayOfWeek.Sunday)
                        {
                            <td>
                                @if (Start.Month == Model.CurrentDate.Month)
                                {
                                    <div class="day">@Start.Day</div>
                                    if (Model.Duties.ContainsKey(Start.Day))
                                    {
                                        <div class="fam">
                                            @Model.Duties[Start.Day].Name
                                        </div>
                                    }

                                    using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                                    {
                                        <div class="hidden" id="day[@i]">
                                            <input type="hidden" value="@Start" name="DateEdit" />
                                            @Html.DropDownList("selectedEmpId", ViewBag.Emp as SelectList)
                                            @* @Html.DropDownListFor(model => model., ViewBag.Emp as SelectList)*@
                                            @* @Html.DropDownList("selectedEmpId", db.Employees.ToList().Select(x => new SelectListItem() { Text = x.Name, Value = x.EmployeId.ToString(), Selected = Model.Duties.ContainsKey(Start.Day) && x.EmployeId == Model.Duties[Start.Day].EmployeId }))*@
                                            <input type="submit" value="Сохранить изменения" />
                                        </div>
                                    }

                                    <a href="" onclick="document.getElementById('day[@i]').style.display = 'block'; return false;"><img src="~/Content/edit.png" /></a>

                                }

                            </td>
                            i++;
                            Start = Start.AddDays(1);
                        }
                        <td>
                            @if (Start.Month == Model.CurrentDate.Month)
                            {
                                <div class="day">
                                    @Start.Day
                                </div>
                                if (Model.Duties.ContainsKey(Start.Day))
                                {
                                    <div class="fam">
                                        @Model.Duties[Start.Day].Name
                                    </div>
                                }

                                using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                                {
                                    <div class="hidden" id="day[@i]">
                                        <input type="hidden" value="@Start" name="DateEdit" />
                                        @Html.DropDownList("selectedEmpId", ViewBag.Emp as SelectList)
                                     @*   @Html.DropDownList("selectedEmpId", db.Employees.ToList().Select(x => new SelectListItem() { Text = x.Name, Value = x.EmployeId.ToString(), Selected = Model.Duties.ContainsKey(Start.Day) && x.EmployeId == Model.Duties[Start.Day].EmployeId }))*@
                                        <input type="submit" value="Сохранить изменения" />
                                    </div>
                                }

                                <a href="" onclick="document.getElementById('day[@i]').style.display = 'block'; return false;"><img src="~/Content/edit.png" /></a>

                            }
                        </td>
                    </tr>
                    i++;
                    Start = Start.AddDays(1);
                    if (Model.CurrentDate.Month != Start.Month)
                    { break; }
                }
            }
        </table>
        <p>

            @Html.ActionLink("Разослать график дежурств", "SendAll", new { CurDate = Model.CurrentDate })
        </p>
    </div>
</div>




