@model Calendar

@{
    ViewBag.Title = "Дежурства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DutyOfServiceDepart.Models;
<link rel="stylesheet" href="~/Content/StyleIndex.css">
<link rel="stylesheet" href="~/Content/Site.css">
<title>Дежурства</title>
<div>

    @Html.ActionLink("<<", "Index", new { Start = Model.CurrentDate.AddMonths(-1) })
    @Html.ActionLink(">>", "Index", new { Start = Model.CurrentDate.AddMonths(+1) })
    <div align=center class="tm-right-column">

        <h1> @Model.CurrentDate.ToString("MMMMM")</h1>
        <table id="calendar" border="1" cellspacing="1" cellpadding="1" align="center">
            <thead>
                <tr>
                    <td>ПН</td>
                    <td>ВТ</td>
                    <td>СР</td>
                    <td>ЧТ</td>
                    <td>ПТ</td>
                    <td>СБ</td>
                    <td>ВС</td>
                </tr>
            </thead>

            @{ DutyContext db = new DutyContext();
                int i = 0;
                DateTime Start = new DateTime(Model.CurrentDate.Year, Model.CurrentDate.Month, 1);
                while (Start.DayOfWeek != DayOfWeek.Monday)
                {
                    Start = Start.AddDays(-1);
                }
                while (true)
                {
                    <tr>
                        @while (Start.DayOfWeek != DayOfWeek.Sunday)
                        {
                            <td>
                                @if (Start.Month == Model.CurrentDate.Month)
                                {
                                    @Start.Day
                                    if (Model.Duties.ContainsKey(Start.Day))
                                    {
                                        @Model.Duties[Start.Day].Name;
                                    }

                                    using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                                    {
                                        <div class="hidden" id="day[@i]">
                                            <input type="hidden" value="@Start.Day" name="DateDuty" />
                                            @Html.DropDownList("selectedEmpId", db.Employees.ToList().Select(x => new SelectListItem() { Text = x.Name, Value = x.EmployeId.ToString(), Selected = Model.Duties.ContainsKey(Start.Day) && x.EmployeId == Model.Duties[Start.Day].EmployeId }))
                                            <input type="submit" value="Сохранить изменения" />
                                        </div>
                                    }

                                    <a href="" onclick="document.getElementById('day[@i]').style.display = 'block'; return false;"><img src="~/Content/edit.png" /></a>

                                }

                            </td>
                            i++;
                            Start = Start.AddDays(1);
                        }
                        <td>
                            @if (Start.Month == Model.CurrentDate.Month)
                            {
                                @Start.Day
                                if (Model.Duties.ContainsKey(Start.Day))
                                {
                                    @Model.Duties[Start.Day].Name
                                }
                               
                                    using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                                    {
                                        <div class="hidden" id="day[@i]">
                                            <input type="hidden" value="@Start.Day" name="DateDuty" />
                                            @Html.DropDownList("selectedEmpId", db.Employees.ToList().Select(x => new SelectListItem() { Text = x.Name, Value = x.EmployeId.ToString(), Selected = Model.Duties.ContainsKey(Start.Day) && x.EmployeId == Model.Duties[Start.Day].EmployeId }))
                                            <input type="submit" value="Сохранить изменения" />
                                        </div>
                                    }
                                
                                <a href="" onclick="document.getElementById('day[@i]').style.display = 'block'; return false;"><img src="~/Content/edit.png" /></a>

                            }
                        </td>
                    </tr>
                    i++;
                    Start = Start.AddDays(1);
                    if (Model.CurrentDate.Month != Start.Month)
                    { break; }
                }
            }
        </table>
    </div>
</div>




