@model Calendar


@{
    ViewBag.Title = "Дежурства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using DutyOfServiceDepart.Models;
<title>Дежурства</title>
<div>

    @Html.ActionLink("<<", "Index", new { TargetDate = Model.CurrentDate.AddMonths(-1) })
    <div align=center class="tm-right-column">
        @*<div style="width:220px; border:1px solid #c0c0c0; padding:6px;">*@
        <table id="calendar" border="1" cellspacing="1" cellpadding="1" align="center">
            <thead>
                <tr><td><b></b><td colspan="5" align="center">@DateTime.Now.ToString("MMMMMM")<td><b></b></tr>

                <tr>
                    <td>ПН</td>
                    <td>ВТ</td>
                    <td>СР</td>
                    <td>ЧТ</td>
                    <td>ПТ</td>
                    <td>СБ</td>
                    <td>ВС</td>
                </tr>
            </thead>
            @{
                DateTime Start = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
                while (true)
                {
                    <tr>
                        @while ((Start.DayOfWeek != DayOfWeek.Sunday) && (DateTime.Now.Month == Start.Month))
                        {
                            <td>
                                @Start.Day.ToString()
                                @if (Model.Duties.ContainsKey(Start.Day))
                                {
                                    @Model.Duties[Start.Day].FamName
                                }
                            </td>
                            Start = Start.AddDays(1);


                        }
                        @if (DateTime.Now.Month != Start.Month)
                        { break; }
                            <td>


                                @Start.Day.ToString()
                                @if (Model.Duties.ContainsKey(Start.Day))
                                {
                                    @Model.Duties[Start.Day].FamName
                                }

                            </td>

                    </tr>
                    Start = Start.AddDays(1);
              }
            }
           
        </table>
    </div>
</div>




