@using DutyOfServiceDepart.Models;
@model Calendar

@{
    ViewBag.Title = "Дежурства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/StyleIndex.css">
<script src="~/Scripts/script.js"></script>

<div>
    <h2 class="a">График дежурств</h2>
   

    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <p>@Html.ActionLink("<<", "Index", new { start = Model.CurrentDate.AddMonths(-1) })</p>
            <p id="month">@Model.CurrentDate.ToString("MMMMMMMM")</p>
            <p>@Html.ActionLink(">>", "Index", new { start = Model.CurrentDate.AddMonths(1) })</p>
        </div>

         @Helpers.Calendar(Model)

    </div>

    @using (Html.BeginForm("SendAll", "Home", FormMethod.Post))
    {
        <div>
            <input type="hidden" value="@Model.CurrentDate" name="curDate" />
            <input class="but" type="submit" value="Разослать всем" />
        </div>
    }


</div>




