@using DutyOfServiceDepart.Models;
@model Calendar

@{
    ViewBag.Title = "Дежурства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/StyleIndex.css">
<script src="~/Scripts/script.js"></script>

<div>
    <h2 class="a">График дежурств</h2>

    <div class="tm-right-column">
        <div class="cal">
            <div style="width:100%; height:1px; clear:both;"></div>
            <div class="list">@Html.ActionLink("<<", "Index", new { start = Model.CurrentDate.AddMonths(-1) })</div>
            <div class="list">@Model.CurrentDate.ToString("MMMMMMMM")</div>
            <div class="list">@Html.ActionLink(">>", "Index", new { start = Model.CurrentDate.AddMonths(1) })</div>
            @*//<div style="width:100%; height:1px; clear:both;"></div>*@
        </div>
        @*<div>
            @foreach(var t in @ViewBag.p)
            {<p>@t.ToString()</p> }
            
        </div>*@
        <table id="calendar" border="1" align="center">
            <thead>
                <tr class="week">
                    <td>ПН</td>
                    <td>ВТ</td>
                    <td>СР</td>
                    <td>ЧТ</td>
                    <td>ПТ</td>
                    <td>СБ</td>
                    <td>ВС</td>
                </tr>
            </thead>

            @{
                int i = 0;
                DateTime Start = new DateTime(Model.CurrentDate.Year, Model.CurrentDate.Month, 1);
                while (Start.DayOfWeek != DayOfWeek.Monday)
                {
                    Start = Start.AddDays(-1);
                }
                while (true)
                {
                    <tr>
                        @while (Start.DayOfWeek != DayOfWeek.Sunday)
                        {
                            <td>
                                @if (Start.Month == Model.CurrentDate.Month)
                                {
                                    <div class="day">@Start.Day</div>
                                    if (Model.Duties.ContainsKey(Start.Day))
                                    {
                                        <div class="fam">
                                            @Model.Duties[Start.Day].Name
                                        </div>
                                    }

                                    using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                                    {
                                        <div class="hidden" id="day[@i]">
                                            <input type="hidden" value="@Start" name="dateEdit" />
                                            @Html.DropDownList("selectedEmpId", Model.Emps)

                                            <input class="but" type="submit" value="Сохранить изменения" />
                                        </div>
                                    }


                                    <a class="pencil" href="" onclick="funcEdit('day[@i]'); return false;"><img src="~/Content/edit.png" /></a>

                                }

                            </td>
                            i++;
                            Start = Start.AddDays(1);
                        }
                        <td>
                            @if (Start.Month == Model.CurrentDate.Month)
                            {
                                <div class="day">
                                    @Start.Day
                                </div>
                                if (Model.Duties.ContainsKey(Start.Day))
                                {
                                    <div class="fam">
                                        @Model.Duties[Start.Day].Name
                                    </div>
                                }

                                using (Html.BeginForm("Edit", "Home", FormMethod.Post))
                                {
                                    <div class="hidden" id="day[@i]">
                                        <input type="hidden" value="@Start" name="DateEdit" />
                                        @Html.DropDownList("selectedEmpId", Model.Emps)
                                        <input class="but" type="submit" value="Сохранить изменения" />
                                    </div>
                                }

                                <a class="pencil" href="" onclick="funcEdit('day[@i]'); return false;"><img src="~/Content/edit.png" /></a>

                            }
                        </td>
                    </tr>
                    i++;
                    Start = Start.AddDays(1);
                    if (Model.CurrentDate.Month != Start.Month)
                    { break; }
                }
            }
        </table>


    </div>
   @using (Html.BeginForm("SendAll", "Home", FormMethod.Post))
    {
    <div>
        <input type="hidden" value="@Model.CurrentDate" name="curDate" />
        @Html.DropDownList("selectedPost", Model.Posts)
        <input class="but" type="submit" value="Разослать всем" />
    </div>
    }
   

</div>




