@using DutyOfServiceDepart.Models;
@model Calendar

@{
    ViewBag.Title = "Дежурства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/StyleDuty.css" rel="stylesheet" />
<link href="~/Content/StyleCalendar.css" rel="stylesheet" />
<link href="~/Content/StyleSheet4.css" rel="stylesheet" />
<script src="~/Scripts/script.js"></script>

<div>
    <div class="heads">
        <div class="head col-md-4 ">
            <h2>График дежурств</h2>
        </div>
        <div class="head col-md-4 col-md-offset-4">
            @using (Html.BeginForm("SendAll", "Home", FormMethod.Post))
            {
                <div>
                    @Html.ActionLink("Разослать график", "SendAll", new { CurDate = Model.CurrentDate }, new { @class = "send", @id = "send1" })
                </div>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-4">
            <p>@Html.ActionLink("<<", "Index", new { start = Model.CurrentDate.AddMonths(-1) })</p>
            <p id="month">@Model.CurrentDate.ToString("MMMMMMMM") - @Model.CurrentDate.Year</p>
            <p>@Html.ActionLink(">>", "Index", new { start = Model.CurrentDate.AddMonths(1) })</p>
        </div>

        @if(!Model.Holidays.Any())
        {
            <div class="warn text-danger"><p>База данных выходных и праздников на данный месяц не обновлена!</p></div>
        }
       
        <div class="col">
            @Helpers.Calendar(Model)
        </div>

    </div>


</div>




