@model Calendar

@using DutyOfServiceDepart.Models;

@{
    ViewBag.Title = "Дежурства";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Calendar.css" rel="stylesheet" />

<script src="~/Scripts/script.js"></script>

<div>
    <div class="row">
        <div class="col-md-10">
            <h2>График дежурств</h2>
        </div>

        <div class="col-md-2">
            @using (Html.BeginForm("SendAll", "Home", FormMethod.Post))
            {
                <div>
                    @Html.ActionLink("Разослать график", "SendAll", new { CurDate = Model.CurrentDate }, new { @class = "btn btn-primary" })
                </div>
            }
        </div>

    </div>

    <div class="row">
        <div class="col-md-1  col-md-offset-4">
            <p>@Html.ActionLink("<<", "Index", new { start = Model.CurrentDate.AddMonths(-1) })</p>
        </div>

        <div class="col-md-2 ">
            <p id="month">@Model.CurrentDate.ToString("MMMMMMMM") - @Model.CurrentDate.Year</p>
        </div>

        <div class="col-md-1">
            <p>@Html.ActionLink(">>", "Index", new { start = Model.CurrentDate.AddMonths(1) })</p>
        </div>

    </div>

    @if (!Model.Holidays.Any())
    {
        <div class="warn text-danger"><p>База данных выходных и праздников на данный месяц не обновлена!</p></div>
    }

    <div class="col">
        @Helpers.Calendar(Model)
    </div>

</div>







