@model DutyOfServiceDepart.Models.ExtremIncident

@{
    ViewBag.Title = "Новая авария";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CreateStyle.css" rel="stylesheet" />

<h2>Добавить информацию об аварии</h2>

<div>

    @using (Html.BeginForm("Create", "Incident", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row mt">

            <div class="col-md-4 mt">
                <p>Дата аварии: </p>
            </div>

            <div class="col-md-2 mt">
                <input class="drop" type="date" name="DateIncident" required />
            </div>

            <div class="col-md-5 mt">
                @Html.ValidationMessageFor(model => model.DateIncident, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 ">
                <p>Ответственный за устранение: </p>
            </div>

            <div class="col-md-2">
                @Html.DropDownListFor(model => model.EmployeeId, Model.Emps, new { @class = "drop" })
            </div>

            <div class="col-md-5 ">
                @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="row">

            <div class="col-md-4 ">
                <p>Описание аварии: </p>
            </div>

            <div class="col-md-2 ">
                <textarea class="drop" name="DescIncident">Введите описание</textarea>
            </div>

            <div class="col-md-5">
                @Html.ValidationMessageFor(model => model.DecsIncident, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 mt">
                <input class="btn btn-primary" type="submit" value="Добавить" />
            </div>

        </div>
    }

</div>




