
@model DutyOfServiceDepart.Models.ExtremIncident
@using DutyOfServiceDepart.Models;
@{
    ViewBag.Title = "Новая авария";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/StyleCreate.css">
<h2>Добавить информацию об аварии</h2>
<div>
    <h3>Введите необходимые данные:</h3>
    @using (Html.BeginForm("Create", "Incident", FormMethod.Post))
    {
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        DutyContext db = new DutyContext();
        <table>
            <tr>
                <td><p>Дата аварии:</p></td>
                <td>
                    <input type="date" name="DateIncident" required />

                </td>
                <td> @Html.ValidationMessageFor(model => model.DateIncident, "", new { @class = "text-danger" })</td>
            </tr>

            <tr>
                <td><p>Ответсвенный за устранение:</p></td>
                <td>
                    @Html.DropDownList("EmployeeId", new SelectList(db.Employees, "EmployeId", "Name"))
                </td>
                <td> @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })</td>
            </tr>
            <tr>
                <td><p>Описание аварии:</p></td>
                <td><textarea name="DescIncident">Введите описание</textarea></td>
                <td> @Html.ValidationMessageFor(model => model.DecsIncident, "", new { @class = "text-danger" })</td>
            </tr>

        </table>
        <input class="but" id="but1" type="submit" value="Добавить" />
    }
</div>




