@model PagedList.IPagedList<DutyOfServiceDepart.Models.ExtremIncident>
@using PagedList.Mvc;
@using DutyOfServiceDepart.Models;
@{
    ViewBag.Title = "Аварии";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/PagedList.css">
<div>

    <div class="tm-right-columnt">
        <div id="name">Список аварий</div>
        <p class="addemp">@Html.ActionLink("+ Добавить описание аварии", "CreateIncident", "Incident")</p>
        @*<p><a id="a1" href="~/Controllers/Employee/CreateEmployee">Добавить сотрудника</a></p>*@
        @using (Html.BeginForm())
        {
            <p>
                Поиск по имени:
                @Html.TextBox("SearchString")
                <input id="but1" type="submit" value="Поиск" />
            </p>
        }
        <table>

            <tr id="nameemp">
                <th><p>Дата начала</p></th>
                <th><p>Дата окончания</p></th>
                <th><p>Ответственный за устранение</p></th>
                <th><p>Описание аварии</p></th>
            </tr>
            @foreach (ExtremIncident b in Model)
            {
                <tr>
                    <td><p>@b.StartIncident</p></td>
                    <td><p>@b.FinishIncident</p></td>
                    <td><p>@b.Employee</p></td>
                    <td><p>@b.DecsIncident</p></td>
                    <td><p><a href="~/Controllers/Incident/Delete/b.IncidentId">Удалить</a></p></td>
                </tr>
            }
        </table>
        <br />

    </div>
</div>
<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



