@model PagedList.IPagedList<DutyOfServiceDepart.Models.ExtremIncident>

@using PagedList.Mvc;
@using DutyOfServiceDepart.Models;
@{
    ViewBag.Title = "Аварии";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="~/Content/PagedList.css">
<link rel="stylesheet" href="~/Content/StyleGet.css">
<div>

    <div class="tm-right-columnt">
        <h2>Список аварий</h2>
        <p class="addemp">@Html.ActionLink("+ Добавить описание аварии", "Create", "Incident")</p>
     
        <table>

            <tr class="nametab">
                
                <th><p>Дата аварии</p></th>
                <th><p>Ответственный за устранение</p></th>
                <th><p>Описание аварии</p></th>
                <th><p></p></th>
            </tr>
            @foreach (ExtremIncident b in Model)
            {
                <tr>
                    
                    <td><p>@b.DateIncident.ToLongDateString()</p></td>
                    <td><p>@b.Employee.Name.ToString()</p></td>
                    <td><p>@b.DecsIncident</p></td>
                    <td><p><a class="edrem" href="/Incident/Delete/@b.IncidentId">Удалить</a></p></td>
                </tr>
                
            }
        </table>
        <br />

    </div>
</div>
<br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))



