@using PagedList.Mvc;
@using DBModels;

@model PagedList.IPagedList<AccidentWork>

@{
    ViewBag.Title = "Аварии";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Content/PagedList.css">
<link href="~/Content/GetStyle.css" rel="stylesheet" />

<div>
    <h2>Список аварий</h2>
    <p class="addemp">@Html.ActionLink("+ Добавить описание аварии", "Create", "Incident")</p>
    <table>
        <tr class="nametab">
            <th><p>Дата аварии</p></th>
            <th><p>Ответственный за устранение</p></th>
            <th><p>Описание аварии</p></th>
            <th><p></p></th>
        </tr>

        @foreach (AccidentWork accidentWork in Model)
        {
            <tr>
                <td><p>@accidentWork.AccidentDate.ToLongDateString()</p></td>
                <td><p>@accidentWork.Employee.FullName</p></td>
                <td><p>@accidentWork.Description</p></td>
                @using (Html.BeginForm("Delete", "Incident", FormMethod.Post))
                {

                    <td>
                        <input type="hidden" value="@Model.PageNumber" name="pageDelete" />
                        <input type="hidden" value="@accidentWork.Id" name="id" />
                        <input class="btn btn-primary" type="submit" value="Удалить" />
                    </td>
                }
            </tr>
        }

    </table>
</div>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))