@model DutyOfServiceDepart.Models.Sort

@using PagedList.Mvc;
@using LibraryModels;

@{
    ViewBag.Title = "Сотрудники";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link href="~/Content/GetStyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/PagedList.css">

<div>

    <h2>Список сотрудников</h2>

    <p class="addemp">@Html.ActionLink("+ Добавить сотрудника", "Create", "Employee")</p>

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-2"><p>Поиск по имени:</p></div>
            <div class="col-md-3">@Html.TextBox("SearchString")</div>

            <div class="sear col-md-2">
                <input class="btn btn-primary" type="submit" value="Поиск" />
            </div>
        </div>
    }

    <table>
        <tr class="nametab">
            <th><p>Имя</p></th>
            <th><p>Email</p></th>
            <th><p></p></th>
        </tr>

        @foreach (Employee b in Model.Emps)
        {
        <tr>
            <td><p>@b.Name</p></td>
            <td><p>@b.Email</p></td>
            @using (Html.BeginForm("Delete", "Employee", FormMethod.Post))
            {
                <td>
                    <input type="hidden" value="@Model.Emps.PageNumber" name="pageDelete" />
                    <input type="hidden" value="@b.EmployeId" name="id" />
                    <input class="btn btn-primary" type="submit" value="Удалить" />
                </td>
            }
            </tr>

        }
    </table>

    <br />

</div>
<br />
    Страница @(Model.Emps.PageCount < Model.Emps.PageNumber ? 0 : Model.Emps.PageNumber) из @Model.Emps.PageCount

    @Html.PagedListPager(Model.Emps, page => Url.Action("Index",
        new { page, sortOrder = Model.CurrentSort, currentFilter = Model.CurrentFilter }))

