@using PagedList.Mvc;
@using DutyOfServiceDepart.Models;

@model PagedList.IPagedList<DutyOfServiceDepart.Models.Employee>

@{

    ViewBag.Title = "Сотрудники";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}

<link href="~/Content/StyleSheet3.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/PagedList.css">
<div>

    
        <h2>Список сотрудников</h2>
        <p class="addemp">@Html.ActionLink("+ Добавить сотрудника", "Create", "Employee")</p>

        @using (Html.BeginForm())
        {
            <div class="row search">
                <div class="col-md-2"><p>Поиск по имени:</p></div>
                <div class="col-md-3">@Html.TextBox("SearchString")</div>
                <div class="col-md-2">
                    <input class="but" id="but1" type="submit" value="Поиск" />
                </div>
            </div>
        }

        <table>
            <tr class="nametab">
                
                <td><p>Имя</p></td>
                <td><p>Email</p></td>
                <td><p></p></td>
                
            </tr>

            @foreach (Employee b in Model)
            {
                <tr>
                    
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Email</p></td>                  
                    <td><p><a class="edrem" href="/Employee/Delete/@b.EmployeId">Удалить</a></p></td>
                </tr>

            }
          
        </table>
        
        <br />

   
</div>
<br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

