@using PagedList.Mvc;
@using LibraryModels;

@model PagedList.IPagedList<LibraryModels.Employee>

@{

    ViewBag.Title = "Сотрудники";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/GetStyle.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/PagedList.css">
<div>


    <h2>Список сотрудников</h2>
    <p class="addemp">@Html.ActionLink("+ Добавить сотрудника", "Create", "Employee")</p>

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-2"><p>Поиск по имени:</p></div>
            <div class="col-md-3">@Html.TextBox("SearchString")</div>
        
            <div class="sear col-md-2">
                <input class="btn btn-primary" type="submit" value="Поиск" />
            </div>
        </div>
    }

    <table>
        <tr class="nametab">

            <th><p>Имя</p></th>
            <th><p>Email</p></th>
            <th><p></p></th>

        </tr>

        @foreach (Employee b in Model)
        {
            <tr>

                <td><p>@b.Name</p></td>
                <td><p>@b.Email</p></td>
                <td><p><a class="edrem" href="/Employee/Delete/@b.EmployeId">Удалить</a></p></td>
            </tr>

        }

    </table>

    <br />


</div>
<br />
    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

